<article>
  <section [ngClass]="{'focus-status':this.status()!=null}">

    @if( this.status() ==this._status.aFazer || this.status() == null){
    <div class="AFazer">

      <h4 class="titulo">A Fazer</h4>

      <div [ngClass]="getClass(dataAfazer,this._status.aFazer)">
        @for (item of dataAfazer; track $index) {
        <app-card-task [task]="item"></app-card-task>
        }
      </div>


    </div>
    }
    @if(this.status() ==this._status.fazendo|| this.status() == null){

    <div class="Fazendo">
      <h4 class="titulo">Fazendo</h4>


      <div [ngClass]="getClass(dataFazendo,this._status.fazendo)">


        @for (item of dataFazendo; track $index) {

        <app-card-task [task]="item"></app-card-task>

        }
      </div>

    </div>
    }
    @if(this.status() ==this._status.feita|| this.status() == null){

    <div class="Feita">

      <h4 class="titulo">Feita</h4>


      <div [ngClass]="getClass(dataFeito,this._status.feita)">
        @for (item of dataFeito; track $index) {

        <app-card-task [task]="item"></app-card-task>


        }
      </div>

    </div>
    }


  </section>
</article>