@import '../../../globalColres.scss';
@import '../../../globalMeasures.scss';

%flexContentCenter {
  display: flex;
  justify-content: center;
}


@mixin Titulo($color) {
  .titulo {
    position: absolute;
    font-size: medium;
    z-index: 20;
    background-color: $color;
    padding: 10px;
    border-bottom-right-radius: .5rem;
    width: 100px;
    text-align: center;
  }
}

@mixin btn-scrollbar($color) {
  // div {
  //   &::-webkit-scrollbar {
  //     background-color: transparent;

  //   }

  //   &::-webkit-scrollbar-thumb {
  //     background-color:  #d11111ce;
  //     box-shadow:0 0 30px $color inset;
  //     border: 2px solid black;
  //      border-radius:.5rem;

  //   }

  // }

}

article {
  @extend %flexContentCenter ;
  height: 100%;
  width: 100%;
}

.focus-status {
  grid-template-rows: none;
  grid-template-columns: none;
}

section {
  display: grid;
  height: 100%;
  width: 90%;
  padding: 10px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;


  @media(max-width:$celular) {

    width: 100%;

  }


  .AFazer {
    background-color: $background-color-AFazer;
   box-shadow: 0 0 10px $background-color-AFazer;

    @include Titulo($background-color-AFazer);
    @include btn-scrollbar($background-color-AFazer)
  }

  .Fazendo {
    background-color: $background-color-Fazendo;
    box-shadow: 0 0 10px $background-color-Fazendo;

    @include Titulo($background-color-Fazendo);
    @include btn-scrollbar($background-color-Fazendo)
  }

  .Feita {
    background-color: $background-color-Feita;
    box-shadow: 0 0 10px $background-color-Feita;

    @include Titulo($background-color-Feita);
    @include btn-scrollbar($background-color-Feita)
  }
}

.AFazer,
.Fazendo,
.Feita {
  position: relative;
  display: flex;
  overflow: auto;
  width: 100%;
  height: 100%;
  flex-direction: column;

  .focus {
    display: grid;
    grid-auto-flow: column;

    width: 100%;
    height: 100%;
    justify-items: center;

    padding: 10px;
    gap: 10px;
    overflow: auto;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);




  }

  .div {
    display: flex;
    overflow: auto;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 10px;
    gap: 10px;


    overflow-y: auto;
    overflow-x: auto;
    flex-direction: row;

    align-items: center;
    z-index: 5;

    @media(max-width:$celular) {
      &:has(> :nth-child(1) + *) {
        justify-content: space-between;
      }

      &:has(> :only-child) {
        justify-content: center;

      }
    }
  }
}