@import '../../../../globalMeasures.scss';
@import '../../../../globalColres.scss';

dialog {
  height: 200px;
  z-index: 50;
  border: none;
  width: 500px;
  margin: 0 auto;
  border: none;
  box-shadow: 0 0 5px 1px #212529;
  border-radius: 10px;
  margin-top: 1rem;

  @media(min-width:$minTablets) and (max-width:maxTablets) {}

  @media(max-width:$celular) {
    width: 95%;

  }

}

section {
  // background-color: rebeccapurple;
  height: 100%;
  display: flex;
  flex-direction: column;


  article {
    display: flex;
    flex-direction: column;

    h2 {
      margin: 1rem;
    }

    height: 100%;

    .content-btns {
      width: 100%;
      display: flex;
      gap: 1rem;
      justify-content: center;
      box-shadow: 0 0 5px 1px #ccc9c9;
      padding: 1rem;


    }

    // aside {

    //   margin-right: auto;
    // }
  }


}


.content-btn-close {
  display: flex;
  justify-content: end;
  margin-top: auto;
  padding: .5rem 1rem .5rem 1rem;



}


%btnBase {
  width: 80px;
  height: 40px;
  color: $text-color;
  cursor: pointer;
}

@mixin minBtnBase($color) {
  @extend %btnBase;
  background-color: $color;

}

.btnAFazer {
  @include minBtnBase(#f0f0f0);
}

.btnFazerndo {
  @include minBtnBase(#ffcc00);

}

.btnFeito {
  @include minBtnBase(#4caf50);

}

.btnRemove {
  @include minBtnBase(red);

}

.btnFechar {
  box-shadow: 0 0 5px;
  @include minBtnBase(rgb(118, 122, 121));


}