@import '../globalMeasures.scss';
@import '../globalColres.scss';


%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}


.page-container {
  display: flex;
  height: 100dvh;
  background:
    linear-gradient(to bottom right, rgb(188, 215, 238), transparent 100%),
    linear-gradient(to top left, $primary-action-color, transparent 60%);

  min-width: 250px;

  flex-direction: column;
}



.header {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: safe;
  align-items: center;
  gap: 1em;

  nav {
    // background-color: rgb(217, 255, 0);
    @extend %flexCenter;
    width: auto;


    ol {
      display: flex;

      li {
        margin-left: 20px;

        a {
          // border-radius: 5px;
          font-size: larger;
          border: none;

          &:hover {}
        }
      }
    }
  }

  div {
    @extend %flexCenter;
  }

  @media(max-width:$celular) {
    flex-direction: column;

  }


  @media(min-width:$minTablets) and (max-width:$maxTablets) {
    flex-direction: column;

  }

}


.main {
  flex: 1;
  width: 100%;
}




.footer {
  @extend %flexCenter;
  width: 100%;
  min-height: 70px;
  margin-top: auto;
  overflow-x: hidden;
  flex-direction: column;

  background: address {
    font-size: 1rem;
    text-align: center;
  }

  .contatos {
    display: flex;
    flex-direction: row;


  }

  hr {
    width: 50%;
  }

}