<!-- <header class="header">

</header>

<main class="main">

  <section>

    @for (item of array; track $index) {
      <app-card-task
       [titulo]="item.titulo
       " [conteudo]="item.conteudo">

      </app-card-task>

    }

  </section>

</main>

<footer class="footer">

  <address>
    Todos os direitos reservados a &copy;Elvis Santana Guimarães
  </address>


  <hr>

  <div class="contatos">

    <mat-icon fontIcon="email">
    </mat-icon>
    <mat-icon fontIcon="email">
    </mat-icon>
    <mat-icon fontIcon="email">
    </mat-icon>
    <mat-icon fontIcon="email">
    </mat-icon>
  </div>


</footer> -->
<app-forms-task></app-forms-task>

