@import '../globalMeasures.scss';
@import '../globalColres.scss';



$hover-color-link: white;
$background-color-link: aliceblue;

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}


.page-container {
  display: flex;
  min-height: 100dvh;
  max-width: 100dvw;
  background:
    linear-gradient(to bottom right, rgb(188, 215, 238), transparent 100%),
    linear-gradient(to top left, $primary-action-color, transparent 60%);

  flex-direction: column;
  min-width: 300px;
  overflow: auto;
  box-sizing: border-box;

}



.header {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: safe;
  align-items: center;
  gap: 0.5em 6.3em;

  nav {
    @extend %flexCenter;
    width: auto;

    ol {
      display: flex;

      li {
        margin-left: 20px;

        a {
          background-color: $background-color-link;
          padding: 0 .5rem 0 .5rem;
          font-size: larger;
          border: none;
          color: #007bff;
          transition: background-color .1s;

          &:hover {
            color: #0056b3;
            background-color: $hover-color-link;

          }
        }
      }
    }
  }

  div {
    @extend %flexCenter;
  }

  @media(max-width:$celular) {
    flex-direction: column;

  }


  @media(min-width:$minTablets) and (max-width:$maxTablets) {
    flex-direction: column;

  }

}


.main {
  flex: 1;
  display: flex;




}




.footer {
  @extend %flexCenter;
  width: 100%;
  min-height: 70px;
  overflow-x: hidden;
  flex-direction: column;

  address {
    font-size: 1rem;
    text-align: center;
  }

  .contatos {
    display: flex;
    flex-direction: row;


  }

  hr {
    width: 50%;
  }

}

.li-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: white;
  overflow: hidden;
  cursor: pointer;

  mat-icon {

    border: none;
    position: absolute;
    color: #007bff;

  }

  &.start-anim-arrow_moviment {
    mat-icon {

      animation: arrow_moviment .3s ease-in-out;


    }


  }




}


@keyframes arrow_moviment {

  0% {
    right: 0;
  }



  50% {
    right: 50px;
    display: none;

  }

  75% {
    right: -30px;
    display: none;


  }


  100% {
    right: 0;

  }

}