<header class="header">
  <app-modal></app-modal>
  <nav>
    <ol>
      <li>
        <a [routerLink]="['/list']" color="">Tarefas</a>

      </li>
      <li>
        <a [routerLink]="['/form-task']" color="">Nova Tarefa</a>

      </li>
    </ol>
  </nav>

    <app-filter />

  
</header>

<main class="main">


  <router-outlet></router-outlet>

</main>

<footer class="footer">

  <address>
    Todos os direitos reservados a &copy;Elvis Santana Guimarães
  </address>



  <hr>

  <div class="contatos">

    <mat-icon fontIcon="email">
    </mat-icon>
    <mat-icon fontIcon="email">
    </mat-icon>
    <mat-icon fontIcon="email">
    </mat-icon>
    <mat-icon fontIcon="email">
    </mat-icon>
  </div>


</footer>