@import '../globalMeasures.scss';
@import '../globalColres.scss';


$hover-color-link: white;
$background-color-link: aliceblue;

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}


.page-container {
  display: flex;
  min-height: 100dvh;
  max-width: 100dvw;
  background:
    linear-gradient(to bottom right, rgb(188, 215, 238), transparent 100%),
    linear-gradient(to top left, $primary-action-color, transparent 60%);

  flex-direction: column;
  min-width: 300px;
  overflow: auto;
  box-sizing: border-box;

}



.header {
  width: 100%;
  min-height: 100px;
  display: flex;
  // background-color: #ff4800;

  flex-direction: row;
  justify-content: safe;
  align-items: center;
  gap: 1em;

  nav {
    @extend %flexCenter;
    width: auto;


    ol {
      display: flex;

      li {
        margin-left: 20px;

        a {
          background-color: $background-color-link;
          padding: 0 .5rem 0 .5rem;
          font-size: larger;
          border: none;
          color: #007bff;
          transition: background-color .1s;

          &:hover {
            color: #0056b3;
            background-color: $hover-color-link;

          }
        }
      }
    }
  }

  div {
    @extend %flexCenter;
  }

  @media(max-width:$celular) {
    flex-direction: column;

  }


  @media(min-width:$minTablets) and (max-width:$maxTablets) {
    flex-direction: column;

  }

}


.main {
  flex: 1;
  display: flex;




}




.footer {
  @extend %flexCenter;
  width: 100%;
  min-height: 70px;
  overflow-x: hidden;
  flex-direction: column;

  address {
    font-size: 1rem;
    text-align: center;
  }

  .contatos {
    display: flex;
    flex-direction: row;


  }

  hr {
    width: 50%;
  }

}