<form [formGroup]="form">

  <div class="content-meg">
    <h2>Escreva sua nova tarefa</h2>

  </div>
  <div class="content-inputs">
    <label for="Titulo">Titulo</label>
    <input type="text" name="Titulo" id="" formControlName="titulo">

    <label for="Conteudo">Conteudo</label>

    <textarea name="Conteudo" formControlName="conteudo"> </textarea>

    @if(this.formsTaskService.getTaskFromForm()){
    <button class="btn" (click)="onEventUpdateContent()">Update</button>
    }@else {

    <button class="btn button type1" (click)="onEventTask()">
      <span class="btn-txt">Enter</span>

    </button>

    }

  </div>

</form>


