@import '../../../../globalColres.scss';
@import '../../../../globalMeasures.scss';

h2{
  text-align: center;
}
form {
  display: flex;
  padding: 0.5em;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;

  @media(max-width:$celular) {

    box-shadow: none
  }

  .content-inputs {
    display: flex;
    flex-direction: column;
    // background-color: rgb(240, 238, 238);


    gap: 1em;
    width: 600px;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.74);

    @media(max-width:800px) {
      width: 100%;

    }



    input,
    button {
      width: 100%;
      height: 50px;
      border: none;
      color: $text-color;

      @media(max-width:800px) {
        width: 100%;

      }
    }
  }
}

button {
  background-color: $completed-color;

  &:hover {
    background-color: #b1ccda;

  }

  &:active {
    background-color: $primary-action-color
  }
}

textarea,
input {
  padding: 0.5em;
  border-radius: 10px;


}

textarea {
  border-radius: 5px;
  border: none;
  width: 100%;
  resize: none;


  height: 100px;



}