<form [formGroup]="form">

  <div>
    <label for="Titulo">Titulo</label>
    <input type="text" name="Titulo" id="" formControlName="titulo">

    <label for="Conteudo">Conteudo</label>

    <textarea name="Conteudo" formControlName="conteudo"> </textarea>

    @if(this.formsTaskService.getTaskFromForm()){
      <button (click)="onEventUpdateContent()">Update</button>
    }@else {

      <button class="button type1" (click)="onEventTask()">
        <span class="btn-txt">Enter</span>

      </button>

    }

  </div>

</form>
