$background-color: #F7F7F7;
$text-color: #333333;
$completed-color: #B0BEC5;
$border-color: #E0E0E0;
$primary-action-color: #64B5F6;
$confirm-color: #81C784;
$edit-color: #FFB74D;
$delete-color: #E57373;


$background-color-AFazer: #e0f2f1;
$AFazer-text-cor :#00695c  ;
$AFazer-borda-cor :#b2dfdb  ;
$AFazer-cor-destaque :#ff7043  ;


$background-color-Fazendo: #fff3cd;
$Fazendo-text-cor :#795548 ;
$Fazendo-borda-cor :#ffe082  ;
$Fazendo-cor-destaque :#ff8a65 ;


$background-color-Feita: #c8e6c9;
$feita-text-cor :#2e7d32;
$feita-borda-cor :#a5d6a7 ;
$feita-cor-destaque :#ffb74d  ;