$background-color: #F7F7F7;
$text-color: #333333;
$completed-color: #B0BEC5;
$border-color: #E0E0E0;
$primary-action-color: #64B5F6;
$confirm-color: #81C784;
$edit-color: #FFB74D;
$delete-color: #E57373;
